<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

<!--user-->
<appSettings>
  <add key="UserName" value="">
  </add>
  <add key="UserNum" value="">
  </add>
  <add key="Sign" value="">
  </add>
  <add key="Feed" value="">
  </add>
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>

</configuration>